{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">1%",
            "last 2 versions",
            "not dead",
            "Chrome >= 80",
            "Firefox >= 75",
            "Safari >= 13",
            "Edge >= 80"
          ]
        },
        "modules": "auto"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}